<%
	@page_scope = 'components.list'
	@deactivated_module = defined?(Component.new.deactivated_module)
%>
<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= render :partial => 'components/list' %>
