/* normalizations */
  html, body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
    {margin: 0;padding: 0;} /* ul, ol,  */
  fieldset, img {border: none;}

/* top level layouts
  A grail two or three column layout using CSS (with middle column expanding so page fills window).
  Widths of left and right columns can be easily adjusted (or set to zero) by modifying #middle_content, #left_content, and #right_content.
  Left, Center and Right columns can be of any height, and still have the footer at the bottom.
  Some limitations on background-colors because of the use of margins for positioning the columns.
*/
  body {font-family: Georgia, "Times New Roman", Times, serif;}
  #header {width:100%;min-height:100px;}
  #middle_content {margin-left:200px;} /* margin-right:200px;} - for right hand column */
  #left_content {width:199px;float:left;margin-left:-200px;overflow:hidden;}
  #center_content {width:100%;overflow:hidden;}
  #content_header {display:block;width:100%;}
  #content_body {display:block;width:100%;overflow:hidden;}
  #content_footer {display:block;width:100%;}
  #content {/* width:100%; */}
  #right_content {width:190px;padding:5px;float:right;margin-right:-200px;}
  #footer {clear:both;}
  #footer_content {}

/* top level layout styles */
  html {background-color:#666;font-size:.8em;}
  body {min-width:600px;background-color:#fff;border-width:10px 20px 10px 20px;border-color:#666;border-style:solid;
    background-image:url(../images/header/corner_top_right.gif);background-position:top right;background-repeat:no-repeat;}
  #body_content {background-image:url(../images/header/corner_top_left.gif);background-position:top left;background-repeat:no-repeat;}
  #header {border-bottom:1px solid black;}
  #header_logo {padding:5px;}
  #middle_content {}
  #left_content {border-right:1px solid black;}
  #center_content {position:relative;left:-1px;border-left:1px solid black;}
  #content_header {padding:0 10px;border-bottom:1px solid black;margin-top:-1px;}
  #content_body {padding:0;}
  #content_body_content {padding:10px;}
  #content_footer {padding:5px;} /* border-top:1px solid black; } */
  #right_content {}
  #footer {border-top:1px solid black;background-color:#fff;
    background-image:url(../images/header/corner_bottom_left.gif);background-position:bottom left;background-repeat:no-repeat;}
  #footer_content {padding:10px 20px;
    background-image:url(../images/header/corner_bottom_right.gif);background-position:bottom right;background-repeat:no-repeat;}


/* mid level layouts */
  #header_logo_bar {overflow:hidden;display:block;}
  #header_logo_left {overflow:hidden;display:inline;float:left;}
  #header_logo {float:left;display:inline;}
  #header_tagline {float:left;display:inline;}
  #header_logo_right {display:inline;float:right;}
  #header_bottom_bar {display:block;}
  #header_nav_bar {overflow:hidden;}
  ul#header_nav_bar {list-style:none;margin:0;padding:0}
  #header_nav_bar li {display:inline;float:left;text-align:center;list-style:none;margin:0;padding:0;}
  #header_nav_bar a {display:block;}
  #header_status {}
  #footer_status {}
  #footer_nav_bar {text-align:center;margin:0 auto;overflow:hidden;}
  #footer_nav_bar ul {list-style:none;margin:0;padding:0;display:inline-block;}
  #footer_nav_bar li {list-style:none;margin:0;padding:0;}
  #footer_nav_bar a {display:block;}
  .column_nav a {display:block;}

/* mid level layout styles */
  #header_logo_bar {padding:10px;}
  #header_logo_left {text-align:left;}
  #header_logo {}
  #header_tagline {padding:5px;}
  #header_logo_right {padding:5px;}
  #header_bottom_bar {border-top:1px solid black;}
  #header_nav_bar {background-image:url(../images/bg/nav_bg.gif);height:25px;}
  #header_nav_bar li {}
  #header_nav_bar li a {border-left:1px solid #666;border-right:1px solid #666;margin:2px 0;color:#fff;line-height:21px;text-decoration:none;}
  #header_nav_bar li a:hover {color:#e98;}
  #header_status {border-top:1px solid black;padding-left:210px;margin-bottom:-1px;}
  #footer_status {border-bottom:1px solid black;padding-left:210px;margin-top:-1px;}
  #footer_nav_bar li {margin:0 2px;}
  #footer_nav_bar li a {padding:0 5px;}


/* template / wireframe stylings - optionally place a class on body tag to obtain effects */
  .wireframe .block_module, .wireframe .float_left_module, .wireframe .float_right_module, .wireframe .module_header
    {margin:3px;border:2px solid black;margin:3px;}
  .template .block_module, .template .float_left_module, .template .float_right_module, .template .module_header
    {background-color:#CCC;margin:8px;}

/* site wide styles */
  a, a:visited {color:#600;text-decoration:none;}
  a:hover {color:#600;text-decoration:underline;}

/* site wide table styles */
  .odd {background-color:#eee;}
  .even {background-color:#fff;}
  table {border:1px solid #fdd;}  /* border-collapse:collapse;} */
  table td, table th {border:1px solid #666; padding:1px 2px;}

/* misc layout styles */
  .column_nav {margin:0 0 0 10px;padding:0;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;}
  .column_nav li {margin:1px 0 2px 0;padding:0;}
  .column_nav li span {text-align:left;margin:0 0 0 5px;}
  .column_nav li.on {#eee;font-weight:bold;}
  .column_nav li.off {font-weight:normal;}
  .column_nav li.on ul {border-top:1px solid #800;border-bottom:1px solid #800;border-left:10px solid #800;}
  .column_nav ul {margin:0;padding:0}
  .column_nav a:hover {text-decoration:none;background-color:#fdd;}

  .show_hide h3 {line-height:30px; padding:0 10px;}
  .show_hide h3:hover {background-color:#fee;}
  .show_hide h3:after {content:' (Click to hide/show)';font-weight:normal;font-size:70%;color:#f00;}
  .show_hide > div:nth-child(2) {border:1px solid black;padding:10px;margin:0 10px;}

  .deselected {display:none;}
  .component_type_total {font-weight:bold;}
  .assembly_total {padding:5px;margin:0 20px;font-weight:bold;}

/* error styling */
.error {color:#f00;font-size:larger;}
.warning {color:#f00;}
.alert {color:#f00;font-size:larger;}
.notice {color:#f00;}
.script_notice {color:#f00;}
#error_explanation {border:1px solid #f00;color:#f00;padding:5px 10px;}
#error_explanation ul {margin:5px 15px;padding:0px;}
#error_explanation li {margin:0;padding:0;}
/* .field_with_errors {display:inline;} - see fix in environment.rb */
.field_with_errors, .field_with_errors label {border:1px solid #f00;color:#f00;}
.field_with_errors .field_error {padding:0 5px;}

/* helper styles */
  .block {display:block;}
  .inline {display:inline;}
  .list_column {display:block;text-decoration:none;padding:5px;}
  .float_right {display:inline;float:left;padding:5px;}
  .float_left {display:inline;float:left;padding:5px;}
  .float_left_module {display:inline;float:left;padding:5px;}
  .float_right_module {display:inline;float:right;padding:5px;}
  .float_clear {overflow:hidden;}
  .clear_both {clear:both;}
  .align_left {text-align:left;}
  .align_center {text-align:center;}
  .align_right {text-align:right;}
  .center {margin:0 auto;}
  .module_header {display:block;margin-left:10px;font-weight:bold;line-height:1.5;font-size:larger;}
  .module_body {}
  .width_20 {width:20px;}
  .width_40 {width:40px;}
  .width_50 {width:50px;}
  .width_60 {width:60px;}
  .width_80 {width:80px;}
  .width_100 {width:100px;}
  .width_150 {width:150px;}
  .width_200 {width:200px;}
  .width_300 {width:300px;}
  .width_400 {width:400px;}
  .width_500 {width:500px;}
  .width_600 {width:600px;}
  .width_100_pct {width:100%;}
  ._across {float:left;display:inline;}
  ._1_across {float:left;display:inline;width:100%;}
  ._2_across {float:left;display:inline;width:50%;}
  ._3_across {float:left;display:inline;width:33.33%;}
  ._4_across {float:left;display:inline;width:25%;}
  ._5_across {float:left;display:inline;width:20%;}
  ._6_across {float:left;display:inline;width:16.66%;}
  .nav_bar {overflow:hidden;}
  .nav_bar ul, .nav_bar li {list-style: none;}
  .nav_bar li {text-align:center;margin:0;padding:0;}
  .nowrap {white-space:nowrap;}
  .thin_border {border:1px solid black;}
  .thin_border_top {border_top:1px solid black;}
  .thin_border_right {border_right:1px solid black;}
  .thin_border_bottom { border-bottom:1px solid black;}
  .thin_border_left {border_left:1px solid black;}
  .padding_5 {padding:5px;}
  .padding_10 {padding:10px;}
  .padding_15 {padding:15px;}
  .padding_20 {padding:20px;}
  .margin_right_5 {margin-right:5px;}
  .margin_right_10 {margin-right:10px;}
  .margin_right_15 {margin-right:15px;}
  .margin_right_20 {margin-right:20px;}
  .margin_left_5 {margin-left:5px;}
  .margin_left_10 {margin-left:10px;}
  .margin_left_15 {margin-left:15px;}
  .margin_left_20 {margin-left:20px;}

/* label and value percentage width layouts for form fields
	right_label for items such as radio buttons and checkboxes where label is to the right
 */
  .fields, .fields_20_80
    {overflow:auto;}
  .field {padding:3px 0;overflow:hidden;}
  /* .field label, .field .label, .field .left_value */
  .field .label, .field .left_value, .field .label_spacer
    {float:left;display:inline;text-align:right;padding-right:3px;overflow:hidden;}
  .field .value, .field .right_label
    {float:left;display:inline;text-align:left;padding-left:3px;overflow:hidden;}
  .field .label:after, .field .left_value:after
    {content: ':';margin-left:5px;font-weight:900;}
  .field .span_after_label:after
    {content: '';margin-left:10px;}
  .field .label_after:before
    {content: '\0020';margin-right:5px;}
  .field .label_after:after
    {content: '\0020';margin-right:10px;}
  /* .fields_10_90 label, .fields_10_90 .label, .fields_10_90 .left_value */
  .fields_10_90 .label, .fields_10_90 .label_spacer, .fields_10_90 .left_value
    {width:9%;margin-right:-9%;}
  .fields_10_90 .value, .fields_10_90 .right_label
    {width:89%;margin-left:9%;}
  /* .fields_20_80 label, .fields_20_80 .label, .fields_20_80 .left_value */
  .fields_20_80 .label, .fields_20_80 .label_spacer, .fields_20_80 .left_value
    {width:19%;margin-right:-19%;}
  .fields_20_80 .value, .fields_20_80 .right_label
    {width:79%;margin-left:19%;}
  /* .fields_25_75 label, .fields_25_75 .label, .fields_25_75 .left_value */
  .fields_25_75 .label, .fields_25_75 .label_spacer, .fields_25_75 .left_value
    {width:24%;margin-right:-24%;}
  .fields_25_75 .value, .fields_25_75 .right_label
    {width:74%;margin-left:24%;}
  /* .fields_50_50 label, .fields_50_50 .label, .fields_50_50 .left_value */
  .fields_50_50 .label, .fields_50_50 .label_spacer, .fields_50_50 .left_value
    {width:49%;margin-right:-49%;}
  .fields_50_50 .value, .fields_50_50 .right_label
    {width:49%;margin-left:49%;}
  /* .fields_30_70 label, .fields_30_70 .label, .fields_30_70 .left_value */
  .fields_30_70 .label, .fields_30_70 .label_spacer, .fields_30_70 .left_value
    {width:29%;margin-right:-29%;}
  .fields_30_70 .value, .fields_30_70 .right_label
    {width:69%;margin-left:29%;}
  /* .fields_40_60 label, .fields_40_60 .label, .fields_40_60 .left_value */
  .fields_40_60 .label, .fields_40_60 .label_spacer, .fields_40_60 .left_value
    {width:39%;margin-right:-39%;}
  .fields_40_60 .value, .fields_40_60 .right_label
    {width:59%;margin-left:39%;}
  /* .fields_80_20 label, .fields_80_20 .label, .fields_80_20 .left_value */
  .fields_80_20 .label, .fields_80_20 .label_spacer, .fields_80_20 .left_value
    {width:79%;margin-right:-79%;}
  .fields_80_20 .value, .fields_80_20 .right_label
    {width:19%;margin-left:79%;}

