<div class="field">
  <%= f.label :password, I18n.translate('users.field_name.password') %>
  <span class="value"><%= f.password_field :password %></span>
</div>
<div class="field">
  <%= f.label :password_confirmation, I18n.translate('users.field_name.password_confirmation') %>
  <span class="value"><%= f.password_field :password_confirmation %></span>
</div>
