<%
    @page_scope = 'states.index'
    @deactivated_module = defined?(State.new.deactivated_module)
%>
<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>


<table cellspacing="0">
<%= render :partial => 'states/index_head' %>
<%
@states.each do |item|
%>
    <%= render :partial => 'states/index_row', :locals => { :item => item } %>
<% end # if table.each %>

</table>


<%= link_to I18n.translate('states.new.action'), new_state_path %>
