<%
  @page_scope = 'home.errors'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>
<div class="fields_25_75">
  <div class="field">
    <span class="label">Environment(::Rails.env)</span>
    <span class="value"><%= ::Rails.env %></span>
  </div>
  <div class="field">
    <span class="label">Errors</span>
    <span class="value"><%= @errors %></span>
  </div>
</div>