<% page_title "Help" %>

<h4><%= controller_name.capitalize %>#<%= action_name %></h4>
<div class="fields_25_75">
  <div class="field">
    <span class="label">To Do</span>
    <span class="value">Update me in app/views/home/help.html.erb</span>
  </div>
</div>