<% page_title "Help" %>

<h4>Home#help</h4>
<div class="fields">
  <div class="field">
    <span class="label _30_pct">To Do</span>
    <span class="value _70_pct">Update me in app/views/home/help.html.erb</span>
  </div>
</div>