<%
  @page_scope = 'home.index'
  #page_title I18n.translate('title', :scope => @page_scope)
%>

<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>
<div class="fields_25_75">
  <div class="field">
    <span class="label">To Do</span>
    <span class="value">Update me in app/views/home/index.html.erb</span>
  </div>
</div>