<%
est_comp_errors = ''
if ass_comp.required
	ass_comp_req = 'component_value required'
    if !est_comp.has_value?
      est_comp_errors += ' - ' + I18n.translate('error_messages.missing_required_field')
      row_class = " field_with_errors"
    end
    # if est_comp_value_was_str != '' && ( est_comp_value_str == '0.00' || est_comp_value_str == '0.000' || est_comp_value_str == '' )
    #   # estimate component existed already, and has a zero value now
    #   est_comp_errors = ' * ' + I18n.translate('error_messages.missing_required_field')
    # end
else
	ass_comp_req = 'component_value not_required'
end

is_hourly = (ass_comp.component.nil? ? false : (ass_comp.component.component_type.nil? ? false : ass_comp.component.component_type.has_hours))

# estimate_components_was[#{ass.id.to_s}_#{ass_comp.component.id.to_s}] !=
%>
		<div class="field row_with_calculations">
<%
if !est_comp_errors.blank?
	concat content_tag(:span, label_tag("estimate_components[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", ass_comp.nil_to_s, :class => 'label' ), :class => "field_with_errors")
else
	concat (label_tag "estimate_components[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", ass_comp.nil_to_s, :class => 'label')
end
%>
			<div class="value">
<%
if !est_comp_errors.blank?
%>
				<span class="field_with_errors">
<%
end
if view_mode == 'edit'
	concat content_tag(:span, text_field_tag("estimate_components[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", est_comp_value_str), :class => ass_comp_req)
	if is_hourly
        # concat edit_hourly_rate_tags(@estimate, ass, ass_comp, est_comp)  #.html_safe
        concat show_hourly_rate_tags(@estimate, ass, ass_comp, est_comp)
        concat raw("&nbsp;")
    end
    concat edit_tax_calculation_tags(@estimate, ass, ass_comp, est_comp)    #.html_safe
	concat content_tag(:span, text_field_tag("estimate_components_note[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", est_comp_note), :class => 'component_note')
	concat show_hidden_fields(@estimate, ass, ass_comp, est_comp, est_comp_was) #.html_safe
else
    concat content_tag(:span, est_comp_value_str, :class => "#{ass_comp_req}",  :id => "estimate_components_#{ass.id.to_s}_#{ass_comp.component.id.to_s}")
	if is_hourly
        concat show_hourly_rate_tags(@estimate, ass, ass_comp, est_comp)
        concat raw("&nbsp;")
    end
    concat show_tax_calculations_tags(@estimate, ass, ass_comp, est_comp)
    concat content_tag(:span, est_comp_note, :id => "estimate_components_note_#{ass.id.to_s}_#{ass_comp.component.id.to_s}", :class => 'component_note')
end
if !est_comp_errors.blank?
%>
					<span class="field_error"><%= est_comp_errors %></span>
				</span>
<%
end
%>
			</div>
		</div>
