<%
%>
		<div class="field">
			<%= label_tag "estimate_components[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", ass_comp.nil_to_s, :class => 'label' %>
<%
if view_mode == 'edit'
%>
			<span class="value">
<%
	concat text_field_tag "estimate_components[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]", est_comp_value_str
	concat hidden_field_tag("estimate_components_was[#{ass.id.to_s}_#{ass_comp.component.id.to_s}]",  est_comp_value_str)
else
%>
			<span class="value" id="estimate_components_<%= ass.id.to_s %>_<%= ass_comp.component.id.to_s %>">
<%
	concat est_comp_value_str
end
%>
			</span>
		</div>
<%
%>
