
<% # assume already in Estimate form tag %>

<div class="field">
	<%= label_tag :estimate_assemblies, I18n.translate('estimate_assemblies.title'), :class => 'label' %>
	<span class="value">
<% @estimate_assemblies.each do |item|  %>
	    <span class="width_40"><%= check_box_tag "estimate[estimate_assembly][#{item.id.to_s}]", item.description, item.selected, :name => "estimate[estimate_assembly][]" %></span>
	    <%= label_tag "estimate_estimate_assembly_#{item.id.to_s}", item.description, :class => 'span_after_label' %>
	</span>
<% end # if table.each %>
</div>


