<%
    @page_scope = 'assemblies.list'
    @deactivated_module = defined?(Assembly.new.deactivated_module)
%>
<h4><%= I18n.translate('header', :scope => @page_scope) %></h4>

<%= render :partial => 'assemblies/list' %>
