<% if @session.current_user.errors.size > 0 %>
  <div id="error_explanation">
    <strong><%= pluralize(@session.current_user.errors.count, "Error") %>:</strong>
    <p>Please fix the following errors and save.</p>
	<% if @session.current_user.errors.size - @session.current_user.errors[:base].size > 0 %>
	<p>Note the errors on specific fields below.</p>
	<% end %>
    <ul>
    <% @session.current_user.errors[:base].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

