<div id="error_explanation">
<% if @user_session.current_user.nil? %>
	<strong>Error! - Not logged in</strong>
<% else %>
	<% if @user_session.current_user.errors.size > 0 %>
	    <strong><%= pluralize(@user_session.current_user.errors.count, "Error") %>:</strong>
	    <p>Please fix the following errors and save.</p>
		<% if @user_session.current_user.errors.size - @session.current_user.errors[:base].size > 0 %>
		<p>Note the errors on specific fields below.</p>
		<% end %>
	    <ul>
	    <% @user_session.current_user.errors[:base].each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	<% end %>
<% end %>
</div>

